@model barber_mvc.Models.Barber

@{
    ViewData["Title"] = "Radera barberare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Radera barberare</h2>
<div class="delete-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.BarberName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarberName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayRate)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="BarberId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Tillbaka</a>
</div>
