@model barber_mvc.Models.Barber

@{
    ViewData["Title"] = "Detaljer om barberare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Detaljer om barberare</h2>

<div class="details-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.BarberName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarberName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BarberId">Redigera</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
