@model IEnumerable<barber_mvc.Models.Barber>

@{
    ViewData["Title"] = "Barberare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Barberare</h2>

<p>
    <a asp-action="Create">Ny barberare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarberName)
            </td>
            <td data-th="Roll:">
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td data-th="Prisnivå:">
                @Html.DisplayFor(modelItem => item.PayRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BarberId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.BarberId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.BarberId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
