@model barber_mvc.Models.Service

@{
    ViewData["Title"] = "Radera tjänst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Radera tjänst</h2>
<div class="delete-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="ServiceId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Tillbaka</a>
</div>
