@model barber_mvc.Models.Service

@{
    ViewData["Title"] = "Detaljer om tjänst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Detaljer om tjänst</h2>

<div class="details-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceId">Redigera</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
