@model IEnumerable<barber_mvc.Models.Service>

@{
    ViewData["Title"] = "Tjänster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tjänster</h2>

<div>
    <a asp-action="Create">Ny tjänst</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
