@model barber_mvc.Models.Appointment

@{
    ViewData["Title"] = "Radera bokning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Radera bokning</h2>
<div class="delete-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd>
            @* @Html.DisplayFor(model => model.DateAndTime) *@
            @ViewData["date"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Barber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barber.BarberName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="AppointmentId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Tillbaka</a>
</div>
