@model barber_mvc.Models.Appointment

@{
    ViewData["Title"] = "Detaljer om bokning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Detaljer om bokning</h2>

<div class="details-list">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd>
            @* @Html.DisplayFor(model => model.DateAndTime) *@
            @ViewData["date"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Barber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barber.BarberName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Redigera</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
