@model IEnumerable<barber_mvc.Models.Appointment>

@{
    ViewData["Title"] = "Bokade tider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bokade tider</h2>

@* <div> *@
@*     <a asp-action="Create">Ny bokning</a> *@
@* </div> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    var date = item.DateAndTime.ToString("yyyy-MM-dd HH:mm");
    <tr>
            <td>
                @Html.DisplayFor(modelItem => date)
            </td>
            <td data-th="Barberare:">
                @Html.DisplayFor(modelItem => item.Barber.BarberName)
            </td>
            <td data-th="Kund:">
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td data-th="Tjänst:">
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
