@model IEnumerable<barber_mvc.Models.Customer>

@{
    ViewData["Title"] = "Kunder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kundregister</h2>

<div>
    <a asp-action="Create">Ny kund</a>
</div>

<form class="search-form" asp-controller="Customer" asp-action="Index">
    <div>
        <div class="flex">
            Sök <input class="search" type="text" name="SearchString"/>
            <input class="btn search-btn" type="submit" value="Filtrera"/>
            <a class="all-customers btn search-btn" asp-controller="Customer" asp-action="Index"><i class="fa-solid fa-arrows-rotate"></i></a>
        </div>
        
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td data-th="Telefonnummer:">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
